.wrapper {
}

.loader {
  animation: pulse 2000ms infinite ease-in-out;
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: spin 5000ms infinite linear;
  }
}

@keyframes pulse {
  50% {
    opacity: 0;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
